@import "reset";

// global variables
$font-family: Arimo;
$primary-color: #ffffff;

// color variables
$color-green: #009C41;
$color-orange: #FF7728;
$color-gray: #C4C4C4;
$color-dark-gray: #5F5F5F;


// font variables
$font-size-10: 10px;
$font-size-12: 12px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-weight-bold: bold;
$line-height-10: 10px;
$line-height-16: 16px;
$line-height-18: 18px;
$line-height-21: 21px;
$line-height-28: 28px;
$line-height-55: 55px;


// padding variables
$padding-13: 13px;
$padding-24: 24px;
$padding-11: 11px;

@mixin block-size($width, $height) {
  width: $width;
  height: $height;
}

body {
  font: $font-size-12 $font-family;
  color: $primary-color;
}

//------------------------> Login mobile <------------------------

.search-bar {
  padding: 7px $padding-13 $padding-13;
  border-bottom: 1px solid #E9E9E9;

  input {
    @include block-size(100%, 36px);
    background: #EEEEEE;
    border-radius: 30px;
    border: none;
  }
}

.toolbar {

  display: flex;
  justify-content: flex-end;
  align-items: center;

  &-desk {
    font-weight: $font-weight-bold;
    display: flex;
    flex-direction: column;
    max-width: 109px;
    text-align: right;

    &__title {
      color: $color-green;
      margin-bottom: 0;
      font-size: $font-size-10;
      line-height: $line-height-10;
    }

    &__subtitle {
      color: $color-orange;
      margin-top: 3px;
      font-size: $font-size-12;
      line-height: $line-height-16;
    }
  }

  &-logo {
    padding: $padding-11;
  }
}

.header {
  display: none;
}

.login {
  padding: 0 $padding-24;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-image: url("img/login_mobile_bg.jpeg");

  &-title {
    font-size: $font-size-12 * 2;
    line-height: $line-height-28;
    text-align: center;
    padding: 50px 20px 0 20px;
  }
}

.login-header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
  text-align: right;
  position: relative;

  &__desk {
    font-size: $font-size-12 * 2;
    line-height: $line-height-28;
    font-weight: $font-weight-bold;
  }

  &__icon {
    width: 39px;
    height: 39px;
    margin-left: 7px;

    & img {
      height: 100%;
    }
  }

  &:before {
    position: absolute;
    content: "";
    width: 100%;
    background: #FFFFFF;
    border-radius: 2px;
    height: 2px;
    bottom: -12px;
  }
}


.login-inputs {
  input {
    height: 40px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 30px;
    border: none;
  }

  p {
    text-align: right;
    font-size: $font-size-18;
    line-height: $line-height-21;
  }

  &__inner {
    margin-top: 50px;
  }


  &__wrap {
    position: relative;

  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 18px;
    width: 14px;
    height: 14px;

    & img {
      height: 100%;
    }
  }
}

.login-buttons {
  display: flex;
  justify-content: center;

  button {
    border-radius: 35px;
    border: none;
    height: 40px;
    width: 156px;
    margin: 92px 10px 66px;
    color: $primary-color;
    font-size: $font-size-18;
    line-height: $line-height-21;

    &:first-child {
      background-color: $color-gray;
    }

    &:last-child {
      background-color: $color-green;
    }
  }
}


//------------------------> main mobile <------------------------

.main {
  padding: 0 $padding-24;
  min-height: 100vh;
  background-size: cover;
  background-position: center top;
  background-image: url("img/login_mobile_bg.jpeg");

  &-header {
    display: flex;
    flex-direction: column;
    position: relative;

    &:before {
      position: absolute;
      content: "";
      width: 100%;
      background: #FFFFFF;
      border-radius: 2px;
      height: 2px;
      bottom: -25px;
    }


    &__title {
      display: flex;
      align-items: center;
      background: #FFFFFF;
      border-radius: 35px;
      height: 40px;
      margin: 20px 0;

      & p {
        font-size: $font-size-18;
        line-height: $line-height-21;
        height: 40px;

        &:first-child {
          color: $color-dark-gray;
          flex: 1;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        &:last-child {
          flex: 1;
          border-radius: 30px;
          background: $color-orange;
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
      }
      }
    }

    &__icon {
      display: none;
    }

    &__search {
      display: flex;
      justify-content: space-between;
      .search {

        &-input {
          background: #FFFFFF;
          border-radius: 30px;
          border: none;
          height: 40px;
          width: 100%;
          margin-left: 17px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: #B1B1B1;
          padding-left: 15px;

          & p {
            font-size: $font-size-18;
            line-height: $line-height-21;
            padding: 15px;
          }
        }
        &-button {
          @include block-size(40px, 40px);
        }
      }

    }
    }
}



$breakpoint-desktop: 1024px;
@media (min-width: $breakpoint-desktop) {

  //------------------------> Login desktop <------------------------
  .search {
    display: none;
  }

  .toolbar {
    padding: 10px 20px;

    &-logo {
      @include block-size(38px, 38px);
      & img {
        width: 100%;
      }
    }
    &-desk {
      &__title {
        font-size: $font-size-16;
        line-height: $line-height-18;
      }

      &__subtitle {
        color: $color-green
      }
    }
  }

  .header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 106px;
    background: #F5F5F5;
    color: $color-dark-gray;
    padding: 0 60px;
    font-size: $font-size-16;
    line-height: $line-height-18;

  }

  .login {
    background-image: url("img/login_bg.jpeg");

    &-header {
      padding-top: 48px;
      &__desk {
        font-size: $font-size-12 * 4;
        line-height: $line-height-55;
      }
      &__icon {
        width: 76px;
        height: 76px;
      }
      &:before {
        height: 5px;
        min-width: 1076px;
        bottom: 0;
      }
    }
    &-title {
      font-size: $font-size-12 *2;
      line-height: $line-height-28;
    }
    &-inputs {
      display: flex;
      flex-direction: column;
      align-items: center;
      input {
        @include block-size(350px, 58px);
      }
    }
    &-buttons {
      button {
        @include block-size(350px, 58px);
        margin: 90px 20px 70px;
      }
    }
  }

  //------------------------> Main desktop <------------------------

}







